/* Establece el ancho del nav */
.d-flex nav {
  width: 40%; /* Ajusta según tus necesidades */
}

/* Establece el ancho del contenido principal */
.d-flex .flex-2 {
  width: 100%; /* Ajusta según tus necesidades */
}

/* Añade estilos adicionales según sea necesario */
.container {
 
 /* Alinea los elementos al comienzo y al final del contenedor horizontalmente */
  width: 100%;
}


/* App.css */



/* Añade estilos adicionales según sea necesario */
/* App.css */
body {
  
  color: black; /* Establece el color del texto en negro */
  
}

.d-flex {
  display: flex;
  height: 100%;
}

.flex-1 {
  flex: 1;
  margin-right: 100px;
}

.flex-2 {
  flex: 3;
}
