@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,500&family=Roboto+Serif:ital,opsz,wght@1,8..144,100&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --grisoscuro: #1f252e;
  --grisclaro: #323846;
  --aqua: #01eefe;
  --aqua2: aquamarine;
  
}

/* .button {
  background-color: var(--aqua);
  border-radius: 5px;
  padding: 6px;
  font-weight: 400;
  align-items: start;
  color: black;
  font-weight: 400;
} */

.button {
  grid-column: span 2;
  width: 35%;
  padding: 12px;
  background-color: var(--aqua);
  color: var(--grisoscuro);
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin: 10px;  

}

.button:hover {
  background-color: var(--aqua2);
}

.crud {
  color: white;
  background-color: var(--grisclaro);
  width: 50%;
  border-radius: 20px;
  padding: 20px;
  margin-top: 20px;
}

.crud input {
  background-color: var(--grisoscuro);
  color: white;
  border: none;
}

.form_crud span{
  color:rgb(147, 224, 224);
}

.edit {
  color: white;
  background-color: var(--grisclaro);
  width: 100%;
  border-radius: 20px;
  padding: 20px;
}

.edit input {
  background-color: var(--grisoscuro);
  color: white;
  border: none;
 
}
.form_edit span {
  color:rgb(147, 224, 224);
}


.table {
  border-spacing: 0 15px;
}

i {
  font-size: 1rem !important;
}

.table tr {
  border-radius: 20px;
}

.tra td:nth-child(n + 8),
.tra th:nth-child(n + 8) {
  border-radius: 0 0.625rem 0.625rem 0;
}
.trb td:nth-child(n + 4),
.trb th:nth-child(n + 4) {
  border-radius: 0 0.625rem 0.625rem 0;
}
.trc td:nth-child(n + 6),
.trc th:nth-child(n + 6) {
  border-radius: 0 0.625rem 0.625rem 0;
}


tr td:nth-child(1),
tr th:nth-child(1) {
  border-radius: 0.625rem 0 0 0.625rem;
}


/*estilos para una vista de 2X3*/ 

/* .custom-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  max-width: 400px;
  margin: 0 auto;
}

.form-row {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 8px;
  align-items: center;
}

label {
  font-weight: bold;
}

input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
} */